<div class="modal fade" id="ApplicationLanguageTextDeleteModal" tabindex="-1" role="dialog" aria-labelledby="ApplicationLanguageTextDeleteModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="ApplacationLanguageTextForm" role="form" novalidate class="form-validation">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("Delete")@L("ApplicationLanguageText")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="Id" class="hide">
                    <p>@L("ConfirmDelete")</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                    <button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> <span>@L("Delete")</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
